/* Navbar */
.navbar .navbar-brand {
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	margin-left: 30%;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-header a:hover {
	width: 150%;
	transition: 0.7s all linear;
	height: 150%;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

.nav-btn {
	line-height: 60px;
	font-family:'Lato', sans-serif;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.nav-btn:hover {
	background-color: #000080;
	text-decoration: none;
	transition: 0.3s all linear;
}