body {
	font-family: Lato, sans-serif; margin:0;
}

.container {
	position: relative;
	min-height: 100%;
	font-family: Lato;
}

.block {
	margin: 30px;
}

#job-forum {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/job-forum-wallpaper.jpg');
	background-size: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	padding: 3%;
}

/* Slideshow content */
.title-div{
	min-height: 200px;
	text-align: center;
	padding: 3%;
}

.title {
	color: white;
	font-size: 60px;
	text-shadow: 10%;
}

#job-description-title {
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	max-height: 400px;
}

#job-title {
	color: white;
	font-style: bold;
	text-shadow: 3px 3px 10px black;
}

#job-description {
	color: white;
	text-shadow: 1px 1px 8px black;
}

label {
	color: white;
	text-shadow: 1px 1px 8px black;
}

#about-question {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#question-textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.block-question {
	margin-top: 10px;
	-webkit-border-radius: 54;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:'Lato', sans-serif;
	font-size: 12px;
	padding: 8px 16px 8px 16px;
	border: solid #ffffff 1px;
	box-shadow: 1px 1px 6px black;
}

.block-question a {
	text-decoration: none;
}

.block-question:hover {
	background: #222222;
	text-decoration: none;
	color: #ffffff;
	border: solid #222222 2px;
	transition: 0.3s all linear;
}

.job-list {
	display: block;
	opacity: 1;
	transition: opacity .75s ease-in-out;
}

.job-image {
	vertical-align: middle;
	height: 50px;
	border-radius: 100%;
}

#job-description{
  margin-top: 5%;
}

.comment {
	color: white;
	margin: auto;
}

#comment{
  border: 2px solid black;
  padding: 10px 0 10px 10px;
}

#comment-title{
  margin-top: 0;
}

#delete-button{
  text-align: right;
  margin-right: 10px;
}

/* Navbar */
.navbar .navbar-brand {
	color: white;
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	margin-left: 30%;
}

.navbar {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

.nav li {
	display: inline;
	color: white;
	list-style: none;
}

.navbar .navbar-header > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-header a:hover {
	width: 150%;
	transition: 0.7s all linear;
	height: 150%;
}

.navbar .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar .navbar-nav li a:hover {
	background-color: #5c5241;
	transition: 0.7s all linear;
	height: 100%;
}

.nav-btn {
	line-height: 60px;
	font-family:'Lato', sans-serif;
	font-size: 16px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.nav-btn:hover {
	background-color: #000080;
	text-decoration: none;
	transition: 0.3s all linear;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
