{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Login PPW-Jobs
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block header %}
{% include "partials/header.html" %}
{% endblock %}

{% block content %}
<section class="header-banner">
	<div class="container">
		<div class="row login" style="height: 480px;">
			<header class="modal-title">
				<h1 id="login-title">Looking for a job?</h1>
				<p id="login-subtitle">Welcome to Fasilkom linkedin</p>
			</header>

			<section class="banner">
				<div class="bottom" align="center">
					{% if status == "company" %}
						<h3 id="login-status">Logged in as {{nama}} company</h3>
						<br>
						<a href="{% url 'auth:company-logout'%}" class="btn btn-login" id="button-logout">Logout</a>
						<a href="{% url 'company:profile'%}" class="btn btn-login" id="button-dashboard">Dashboard</a>
					{% elif status == "student" %}
						<h3 id="login-status">Logged in as {{nama}} (Student)</h3>
						<br>
						<a href="{% url 'auth:user-logout'%}" class="btn btn-login" id="button-logout">Logout</a>
						<a href="{% url 'mahasiswa:index'%}" class="btn btn-login" id="button-dashboard">Dashboard</a>
					{% else %}
						<a href="#" class="btn btn-login" rel="popover" data-placement="left" id="btn-user">User Login</a>
						<a class="btn btn-login" id="btn-company">Company Login</a>
					{% endif %}
				</div>

		    <div class="middle">
					<div id="modal-user" class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-user" data-dismiss="modal">&times;</button>
								<h4 class="modal-h4"> Login User with SSO </h4>
							</div>
							<div class="modal-body">
								<form action="{% url 'auth:user-login' %}" method="POST">
									{% csrf_token %}
									<p>
									    <label for="username"> Your username </label>
									    <input type="text" id="username" name="username" required>
									</p>
									<p>
									    <label for="password"> Your password </label>
									    <input type="password" id="password" name="password" required>
									</p>
									<input type="submit" class="btn btn-primary">
								</form>
							</div>
						</div>
					</div>

					<div id="modal-company" class="modal">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" id="close-company" data-dismiss="modal">&times;</button>
								<h5 class="modal-h5"> Anda harus terdaftar sebagai admin company di linkedin jika ingin menggunakan company login </h5>
								<h6 class="modal-h6"> Jika bukan admin perusahaan pada linkedin bisa memilih dummy login</h6>
							</div>
							<div class="modal-body">
								<a href="{% url 'auth:company-login' %}" class="btn btn-primary" id="button-login-company">Company Login</a>
								<a href="{% url 'auth:dummy-login' %}" class="btn btn-primary" id="button-login-dummy-company">Dummy Login</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<div class="row justify-content-center" id="testimonies">
	<div class="container">
		<h4 class="testimony-title">Our graduates have been working on </h4>
		<div class="row">
		    <div id="small-img">
	            <img src="https://imgee.s3.amazonaws.com/imgee/638b26370a794db38dfef92fa2bfe60f.png" class="img-responsive inline" alt=""/>
	            <img src="https://s3-ap-southeast-1.amazonaws.com/bl-komunitas/1498117385.png" class="img-responsive inline" alt=""/>
	            <img src="https://upload.wikimedia.org/wikipedia/id/5/51/Traveloka_Primary_Logo.png" class="img-responsive inline" alt=""/>
		    </div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>
	// Get the modal
	var modaluser = document.getElementById('modal-user');
	var modalcompany = document.getElementById('modal-company');

	// Get the button that opens the modal
	var btnuser = document.getElementById("btn-user");
	var btncompany = document.getElementById("btn-company");

	// Get the <span> element that closes the modal
	var spanuser = document.getElementById("close-user");
	var spancompany = document.getElementById("close-company");

	// When the user clicks the button, open the modal
	btnuser.onclick = function() {
	    modaluser.style.display = "block";
	}
	btncompany.onclick = function() {
	    modalcompany.style.display = "block";
	}

	// When the user clicks on <span> (x), close the modal
	spanuser.onclick = function() {
	    modaluser.style.display = "none";
	}
	spancompany.onclick = function() {
	    modalcompany.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	    if (event.target == modal) {
	        modaluser.style.display = "none";
	        modalcompany.style.display = "none";
	    }
	}
</script>
{% endblock %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}
