{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Student List
{% endblock %}

{% block css %}
{% endblock %}

{% block header %}
{% include "partials/header-company.html" %}
{% endblock %}
{% block content %}
<section id="student-list">
<div class="container">
  <table id="example" class="display" cellspacing="0" width="100%">
    <h2 class="title">Cari Teman</h2>
        <thead style="background: white">
            <tr>
                <th>NPM</th>
                <th>NAMA</th>
                <th>ANGKATAN</th>
				<th>DETAIL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>NPM</th>
                <th>NAMA</th>
                <th>ANGKATAN</th>
                <th>DETAIL</th>
            </tr>
        </tfoot>
        <tbody>
		
		{% for student in student_list %}
			<tr>
				<th>{{ student.npm }}</th>
				<th>{{ student.name }}</th>
				<th>{{ student.angkatan }}</th>
				<th><a href="{% url 'app:student-profile' student.pk %}">Ask Question</a></th>
			</tr>
		{% endfor %}
        </tbody>
    </table>
</div>
</section>
  
{% endblock %}


{% block javascript %}
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>
{% endblock %}
