<div class="col-md-6">
	<h2 class="title"> Profil </h2>
	<div class="panel-body">
		<div class="container" style="width: 100%">
			<div class="profile-list">
			<p><tr>
                <th>Nama</th>
                <th>{{ mahasiswa.name }}</th>
            </tr></p>
            <p><tr>
                <th>NPM</th>
                <th>{{ mahasiswa.npm }}</th>
            </tr></p>
            <p><tr>
                <th>Role</th>
                <th>{{ mahasiswa.role }}</th>
            </tr></p>
            <p><tr>
                <th>Angkatan</th>
                <th>{{ mahasiswa.angkatan }}</th>
            </tr></p>
            <p><tr>
                <th>Email</th>
                <th>{{ mahasiswa.id_Linkedin }}</th>
            </tr></p>
            <p><tr>
                <th>Profile LinkedIn</th>
                <th>{{ mahasiswa.link_linkedin }}</th>
            </tr></p>
			</div>
		</div>
	</div>
</div>