{% load staticfiles %} {% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/riwayat.css' %}" />
{% endblock %}

<div class="col-md-6">
	<h2 class="title"> List Riwayat</h2>
	<p class="hidden">This is nilai reminder {{show_nilai.reminder}} !</p>
	<div class="list-group scroll">
		{% if riwayat_list %}
			{% for riwayat in riwayat_list %}
				<a class="list-group-item clearfix">
					<div class="col-md-10">
					{% if riwayat.kelas == None %}
					Tidak ditemukan
					{% else %}
					{{ riwayat.kelas.nm_mk_cl.nm_mk }}
					{% endif %}</div>
					<div class="col-md-2">
					{{ riwayat.nilai }}
					{% if show_nilai.reminder == False %}{{ riwayat.nilai }}
					{% elif show_nilai.reminder == True  %}Hidden{% endif %}
					</div>
				</a>
			{% endfor %}
		{% else %}
			<div class="alert alert-danger text-center">
				<strong>Opps!</strong> Riwayat mahasiswa tidak ditemukan
			</div>
		{% endif %}
	</div>
</div>